<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head') %>
  <body>
    <div class="container">
      <p>Hello <strong><%= name %></strong></p>
      <p>Please click on below link to verify email.</p>
      <a href="<%= url %>" target="_blank">Clink on the link</a><br>
      <p>If you are not able to click the above link please copy and paste it in your browser.</p>
      <p><%= url %></p>
      <%- include('../partials/footer') %>
    </div>
  </body>
</html>
